[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
asgiref = "==3.2.10"
django = "==3.1"
pytz = "==2021.1"
sqlparse = "==0.4.1"

[dev-packages]

[requires]
python_version = "3.8"
